<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body {
        padding: 50px;
      }
    </style>
  </head>
  <body>
  <a href="/spider" style="font-size: 22px;">抓取虎扑NBA新闻</a>
  </body>
</html>
