<!DOCTYPE html>
<html>
<head>
    <title>抓取虎扑NBA新闻</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .app {
            position: relative;
        }

        .app .control {
            position: absolute;
            right: 200px;
            top: 10px;
        }

        .app .control input {
            width: 60px;
        }

        .app .control button {
            cursor: pointer;
        }

        .app .control button.off {
            cursor: not-allowed;
            color: #888;
        }

        h1 {
            margin: 15px auto;
            text-align: center;
        }
    </style>
</head>
<body>

    <div id="app" class="app">
        <h1>虎扑NBA新闻</h1>
        <div class="control">
            <button v-if="!isCrawling" @click="crawl">抓取</button>
            <button class="off" v-else disabled>正在抓取...</button>
            <input type="text" v-model="count" />
            条
        </div>
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>抓取时间</td>
                    <td>文章标题</td>
                    <td>发布时间</td>
                    <td>来源</td>
                    <td>编辑</td>
                    <td>标签</td>
                    <td>作者头像</td>
                    <td>作者姓名</td>
                    <td>作者公司</td>
                    <td>详情</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(data, i) in list">
                    <td>{{ data.articleId }}</td>
                    <td>{{ dateFormat(data.crawlTime) }}</td>
                    <td>{{ data.title }}</td>
                    <td>{{ dateFormat(data.createTime) }}</td>
                    <td>{{ data.source }}</td>
                    <td>{{ data.editor }}</td>
                    <td>{{ data.tag }}</td>
                    <td><img :src="data.writer_avatar_url" width="40" height="40" /></td>
                    <td>{{ data.writer_name }}</td>
                    <td>{{ data.writer_company }}</td>
                    <td><a href="#">查看</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/axios.js"></script>
    <script>
        new Vue({
          el: '#app',
          data: {
            isCrawling: false,
            count: 10,
            list: []
          },
          created () {
            this.getData()
          },
          methods: {
            getData () {
              axios.post('/spider/get_articles').then(res => {
                console.log(res.data)
                this.list = res.data
              })
            },
            crawl () {
              this.isCrawling = true
              axios.post('/spider/crawl', {count: this.count}).then(c => {
                for (let i = 0; i < c.data.length; i++) {
                  if (!c.data[i].status) {
                    this.list.push(c.data[i])
                  }
                }
                this.isCrawling = false
              })
            },
            dateFormat (d) {
              const date = new Date(d)
              let year = date.getFullYear()
              let month = date.getMonth() + 1
              let day = date.getDate()
              let hour = date.getHours()
              let minutes = date.getMinutes()
              let seconds = date.getSeconds()
              if (month < 10) month = month.toString().padStart(2, '0')
              if (day < 10) day = day.toString().padStart(2, '0')
              if (hour < 10) hour = hour.toString().padStart(2, '0')
              if (minutes < 10) minutes = minutes.toString().padStart(2, '0')
              if (seconds < 10) seconds = seconds.toString().padStart(2, '0')
              return `${year}-${month}-${day} ${hour}:${minutes}:${seconds}`
            }
          }
        })

        /*window.onload = () => {
          axios.post('/spider/crawl', {count: 2}).then(c => {
            console.log(c.data)
          })

        }*/
    </script>
</body>
</html>
